[package]
name = "graphql"
version = "0.1.0"
authors = ["zhukai <zhukai@apache.org>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-graphql = "2.7.3"
async-graphql-actix-web = "2.7.3"
actix-web = "3"
#sqlx = { version = "0.4.2", features = [ "mysql","runtime-tokio-rustls" ] }
sqlx = { version = "0.4.2", features = [ "mysql","runtime-tokio-native-tls" ] }

user = {path = "../user",version = "0.1.0"}